* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	padding-top: 10px;
  text-align: inherit;
  margin-top:50px;
	background-color: #e5e5e5;
}

.container {
	position: relative;
	display: grid;
 	grid-template-columns: repeat(5, 17vw);
 	grid-template-rows: 10vw;
 	grid-gap: 2.5vw;
 	padding: 2.5vw;
 	background-color: #e5e5e5;
}


.item {
	height: 100px;
	width: 100px;
  border-radius: 20px;
	background: #456f91;
	color: white;
	margin: 10px auto;
	padding: 50px;
	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
}

#element-1:hover {
		transform: rotate(90deg) scale(25);
		opacity: 100px;
		background: #456f91;
	}


#element-2:active {
		background: #ffe98c;
		opacity: 50;
	}


#element-3:hover {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-transform-origin: 0 100%;
		transform-origin: 0 100%;
}
#element-3:active {
	  -webkit-animation-name: element-3;
	  animation-name: element-3;
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-timing-function: ease-in-out;
	  animation-timing-function: ease-in-out;
	  -webkit-animation-iteration-count: 1;
	  animation-iteration-count: 1;
		}
		@keyframes element-3 {
				  16.65% {
				    -webkit-transform: skew(-12deg);
				    transform: skew(-12deg);
				  }
				  33.3% {
				    -webkit-transform: skew(10deg);
				    transform: skew(10deg);
				  }
				  49.95% {
				    -webkit-transform: skew(-6deg);
				    transform: skew(-6deg);
				  }
				  66.6% {
				    -webkit-transform: skew(4deg);
				    transform: skew(4deg);
				  }
				  83.25% {
				    -webkit-transform: skew(-2deg);
				    transform: skew(-2deg);
				  }
				  100% {
				    -webkit-transform: skew(0);
				    transform: skew(0);
				  }
			}


#element-4:active {
			opacity:2;
			filter: blur(50px);
		}


#element-5:hover::after {
		content: ':~)';
		background-color: #e3d6ff;
		color: #edffd6;
	}


#element-7:hover {
		-webkit-animation: element-7 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
		        animation: element-7 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
#element-7:active {}
		@-webkit-keyframes element-7 {
	  0% {
	    -webkit-transform: rotateX(0);
	            transform: rotateX(0);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }
	  100% {
	    -webkit-transform: rotateX(180deg);
	            transform: rotateX(180deg);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }
	}
	@keyframes element-7 {
	  0% {
	    -webkit-transform: rotateX(0);
	            transform: rotateX(0);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }
	  100% {
	    -webkit-transform: rotateX(180deg);
	            transform: rotateX(180deg);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }
	}


#element-8:hover {
		-webkit-animation: element-8 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
		        animation: element-8 0.5s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	}
#element-8:active {}

		@-webkit-keyframes element-8 {
	  0% {
	    box-shadow: 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed;
	    -webkit-transform: translateX(0) translateY(0);
	            transform: translateX(0) translateY(0);
	  }
	  100% {
	    box-shadow: 1px -1px #ffe0ed, 2px -2px #ffe0ed, 3px -3px #ffe0ed, 4px -4px #ffe0ed, 5px -5px #ffe0ed, 6px -6px #ffe0ed, 7px -7px #ffe0ed, 8px -8px #ffe0ed;
	    -webkit-transform: translateX(-8px) translateY(8px);
	            transform: translateX(-8px) translateY(8px);
	  }
	}
	@keyframes element-8 {
	  0% {
	    box-shadow: 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed, 0 0 #ffe0ed;
	    -webkit-transform: translateX(0) translateY(0);
	            transform: translateX(0) translateY(0);
	  }
	  100% {
	    box-shadow: 1px -1px #ffe0ed, 2px -2px #ffe0ed, 3px -3px #ffe0ed, 4px -4px #ffe0ed, 5px -5px #ffe0ed, 6px -6px #ffe0ed, 7px -7px #ffe0ed, 8px -8px #ffe0ed;
	    -webkit-transform: translateX(-8px) translateY(8px);
	            transform: translateX(-8px) translateY(8px);
	  }
	}


#element-9:hover {
	-webkit-animation: element-9 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: element-9 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#element-9:active {}
	@-webkit-keyframes element-9 {
	  0% {
	    -webkit-transform: rotate(-45deg);
	            transform: rotate(-45deg);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: rotate(0);
	            transform: rotate(0);
	    opacity: 1;
	  }
	}
	@keyframes element-9 {
	  0% {
	    -webkit-transform: rotate(-45deg);
	            transform: rotate(-45deg);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: rotate(0);
	            transform: rotate(0);
	    opacity: 1;
	  }
	}


#element-10:hover {
		-webkit-animation: element-10 8s infinite both;
					animation: element-10 8s infinite both;
					}
#element-10:active {}
			@-webkit-keyframes element-10 {
		  0% {
		    background-position: 50% 0%;
				background-color: blue;
		  }
		  100% {
		    background-position: 50% 100%;
		  }
		}
		@keyframes element-10 {
		  0% {
		    background-position: 50% 0%;
				background-color: purple;
		  }
		  100% {
		    background-position: 50% 100%;
				background-color: yellow;
		  }
		}


#element-11:hover {
		-webkit-animation: element-11 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
					animation: element-11 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
#element-11:active {}
			@-webkit-keyframes element-11 {
		  0% {
		    -webkit-transform: translateZ(0);
		            transform: translateZ(0);
		    -webkit-filter: blur(0.01);
		            filter: blur(0.01);
		  }
		  100% {
		    letter-spacing: 1em;
		    -webkit-transform: translateZ(300px);
		            transform: translateZ(300px);
		    -webkit-filter: blur(12px) opacity(0%);
		            filter: blur(12px) opacity(0%);
		  }
		}
		@keyframes element-11 {
		  0% {
		    -webkit-transform: translateZ(0);
		            transform: translateZ(0);
		    -webkit-filter: blur(0.01);
		            filter: blur(0.01);
		  }
		  100% {
		    letter-spacing: 1em;
		    -webkit-transform: translateZ(300px);
		            transform: translateZ(300px);
		    -webkit-filter: blur(12px) opacity(0%);
		            filter: blur(12px) opacity(0%);
		  }
		}


#element-12:hover {
	-webkit-animation: element-12 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite ;
		animation: element-12 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite ;
	}
#element-12:active {}
	@-webkit-keyframes element-12 {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
	}
	@keyframes element-12 {
	0%,
	50%,
	100% {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
	}


#element-13:hover {
	background-image:url('https://static.boredpanda.com/blog/wp-content/uploads/2014/11/funny-hairy-animals-39__700.jpg');
	background-position:inherit;
	background-size: cover;
	/* width: 20px;
	height: 80px;
	position: absolute;
	right: 10px;
	top: 10px;
	display: none; */
	}


#element-14:hover {
	background-color: #e3d6ff;
	-webkit-animation: element-14 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation: element-14 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
			}
#element-14:active {}
		@-webkit-keyframes element-14 {
	  0% {
	    -webkit-transform: translateZ(0) translateY(0);
	            transform: translateZ(0) translateY(0);
	    opacity: 1;
	  }
	  60% {
	    opacity: 1;
	  }
	  100% {
	    letter-spacing: -0.5em;
	    -webkit-transform: translateZ(-700px) translateY(-700px);
	            transform: translateZ(-700px) translateY(-700px);
	    opacity: 0;
	  }
	}
	@keyframes element-14{
	  0% {
	    -webkit-transform: translateZ(0) translateY(0);
	            transform: translateZ(0) translateY(0);
	    opacity: 1;
	  }
	  60% {
	    opacity: 1;
	  }
	  100% {
	    letter-spacing: -0.9em;
	    -webkit-transform: translateZ(-700px) translateY(-700px);
	            transform: translateZ(-700px) translateY(-700px);
	    opacity: 0;
	  }
	}


#element-15:hover {
				content: 'wooo';
				font-kerning: 12;
				margin-left: -10px;
			}


#element-16:hover {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
	}
#element-16:active {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #yellow;
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		transition-duration: 0.5s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
			}
		.element-16:hover, .element-16:focus, .element-16:active {
			  color: red;
			}
		.element-16:before, .element-16:focus:before, .element-16:active:before {
			  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
			}


#element-17:hover {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: background;
	transition-property: background;
	box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
	}
#element-17:active {}
	.element-17:hover, .element-17:focus, .element-17:active {
		background: none;
	}


#element-18 {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  position: relative;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	}
#element-18:before {
	  pointer-events: none;
	  position: absolute;
	  z-index: -1;
	  content: '';
	  top: 100%;
	  left: 5%;
	  height: 20px;
	  width: 90%;
	  opacity: 0;
	  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform, opacity;
	  transition-property: transform, opacity;
	}
#element-18:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px);
	}
#element-18:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
	  opacity: 1;
	  -webkit-transform: translateY(10px);
	  transform: translateY(10px);

	}


#element-6:hover {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	-ms-transition: all 2s ease;
	transition: all 2s ease;
	}
#element-6:active {
	background-color: #45CEE0;
	height: 400px;
	width: 200px;
	content: "ahhh";
	color:yellow;
		}


#element-19:hover {
	-webkit-transform: rotateZ(-360deg);
		-ms-transform: rotateZ(-360deg);
		transform: rotateZ(-360deg);
		animation-iteration-count:infinite;
		background-color: pink;
		content: "ahhhh";
	}


#element-20:hover {
				-webkit-animation: element-20 2s both;
				animation: element-20 2s both;
			}
#element-20:active {}
			@-webkit-keyframes element-20 {
		  0% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  5% {
		    -webkit-transform: translateY(-20px);
		            transform: translateY(-20px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  15% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  25% {
		    -webkit-transform: translateY(-48px);
		            transform: translateY(-48px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  38% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  52% {
		    -webkit-transform: translateY(-85px);
		            transform: translateY(-85px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  70% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  85% {
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: translateY(-800px);
		            transform: translateY(-800px);
		    opacity: 0;
		  }
		}
		@keyframes element-20 {
		  0% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  5% {
		    -webkit-transform: translateY(-20px);
		            transform: translateY(-20px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  15% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  25% {
		    -webkit-transform: translateY(-48px);
		            transform: translateY(-48px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  38% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  52% {
		    -webkit-transform: translateY(-85px);
		            transform: translateY(-85px);
		    -webkit-animation-timing-function: ease-in;
		            animation-timing-function: ease-in;
		  }
		  70% {
		    -webkit-transform: translateY(0);
		            transform: translateY(0);
		    -webkit-animation-timing-function: ease-out;
		            animation-timing-function: ease-out;
		  }
		  85% {
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: translateY(-800px);
		            transform: translateY(-800px);
		    opacity: 0;
		  }
		}


#element-21:hover {
			-webkit-animation: element-21 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite both;
			animation: element-21 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite both;
		}
#element-21:active {}
			@-webkit-keyframes element-21 {
			0% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-filter: blur(0px);
							filter: blur(0px);
			opacity: 1;
			}
			100% {
			-webkit-transform: scale(2);
							transform: scale(2);
			-webkit-filter: blur(2px);
							filter: blur(2px);
			opacity: 0;
			}
			}
			@keyframes element-21 {
			0% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-filter: blur(0px);
							filter: blur(0px);
			opacity: 1;
			}
			100% {
			-webkit-transform: scale(2);
							transform: scale(2);
			-webkit-filter: blur(2px);
							filter: blur(2px);
			opacity: 0;
			}
			}


#element-22:hover {
	-webkit-animation: element-22 2s linear infinite both;
	        animation: element-22 2s linear infinite both;
				}
#element-22:active {}
		@-webkit-keyframes element-22 {
		0%,
		100% {
		opacity: 1;
		}
		41.99% {
		opacity: 1;
		}
		42% {
		opacity: 0;
		}
		43% {
		opacity: 0;
		}
		43.01% {
		opacity: 1;
		}
		47.99% {
		opacity: 1;
		}
		48% {
		opacity: 0;
		}
		49% {
		opacity: 0;
		}
		49.01% {
		opacity: 1;
		}
		}
		@keyframes element-22 {
		0%,
		100% {
		opacity: 1;
		}
		41.99% {
		opacity: 1;
		}
		42% {
		opacity: 0;
		}
		43% {
		opacity: 0;
		}
		43.01% {
		opacity: 1;
		}
		47.99% {
		opacity: 1;
		}
		48% {
		opacity: 0;
		}
		49% {
		opacity: 0;
		}
		49.01% {
		opacity: 1;
		}
		}
	}


#element-23:hover {
	transform: skew(15deg, 15deg);
	}
#element-23:active {
	width: 200px;
	      height: 100px;
	      background: #e5e5e5;
	      border-radius: 100px / 50px;
			}


#element-24:hover {
	-webkit-animation: element-24 0.9s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: element-24 0.9s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
#element-24:active {}
			@-webkit-keyframes element-24 {
		0% {
			-webkit-transform: scaleX(1);
							transform: scaleX(1);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		100% {
			-webkit-transform: scaleX(0);
							transform: scaleX(0);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		}
		@keyframes element-24 {
		0% {
			-webkit-transform: scaleX(1);
							transform: scaleX(1);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		100% {
			-webkit-transform: scaleX(0);
							transform: scaleX(0);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		}

		}}


#element-25:hover {
			transform: scale(50px);
			;
		}
#element-25:active {
			background: #lightyellow;
			border-radius: 500px;
					}


#element-26:hover {
	-webkit-animation: element-26 0.5s both;
		        animation: element-26 0.5s both;
							}
#element-26:active {}
			@-webkit-keyframes element-26 {
		0% {
		-webkit-transform: skew(0deg 0deg);
						transform: skew(0deg 0deg);
		}
		30% {
		-webkit-transform: skew(-25deg -25deg);
						transform: skew(-25deg -25deg);
		}
		40% {
		-webkit-transform: skew(15deg, 15deg);
						transform: skew(15deg, 15deg);
		}
		50% {
		-webkit-transform: skew(-15deg, -15deg);
						transform: skew(-15deg, -15deg);
		}
		65% {
		-webkit-transform: skew(5deg, 5deg);
						transform: skew(5deg, 5deg);
		}
		75% {
		-webkit-transform: skew(-5deg, -5deg);
						transform: skew(-5deg, -5deg);
		}
		100% {
		-webkit-transform: skew(0deg 0deg);
						transform: skew(0deg 0deg);
		}
		}
		@keyframes element-26 {
		0% {
		-webkit-transform: skew(0deg 0deg);
						transform: skew(0deg 0deg);
		}
		30% {
		-webkit-transform: skew(-25deg -25deg);
						transform: skew(-25deg -25deg);
		}
		40% {
		-webkit-transform: skew(15deg, 15deg);
						transform: skew(15deg, 15deg);
		}
		50% {
		-webkit-transform: skew(-15deg, -15deg);
						transform: skew(-15deg, -15deg);
		}
		65% {
		-webkit-transform: skew(5deg, 5deg);
						transform: skew(5deg, 5deg);
		}
		75% {
		-webkit-transform: skew(-5deg, -5deg);
						transform: skew(-5deg, -5deg);
		}
		100% {
		-webkit-transform: skew(0deg 0deg);
						transform: skew(0deg 0deg);
		}
		}
												}


#element-27:hover {
		-webkit-animation: element-27 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
				animation: selement-27 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
#element-27:active {}
			@-webkit-keyframes element-27 {
		0% {
			-webkit-transform: scale(0);
							transform: scale(0);
			opacity: 1;
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
			opacity: 1;
		}
		}
		@keyframes element-27 {
		0% {
			-webkit-transform: scale(0);
							transform: scale(0);
			opacity: 1;
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
			opacity: 1;
		}
}



#element-28:hover {
	-webkit-animation: element-28 0.35s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
				animation: element-28 0.35s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	}
#element-28:active {}
	@-webkit-keyframes element-28 {
	  0% {
	    -webkit-transform: translateX(-1000px) rotate(-720deg);
	            transform: translateX(-1000px) rotate(-720deg);
	    -webkit-filter: blur(50px);
	            filter: blur(50px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: translateX(0) rotate(0deg);
	            transform: translateX(0) rotate(0deg);
	    -webkit-filter: blur(0);
	            filter: blur(0);
	    opacity: 1;
	  }
	}
	@keyframes element-28 {
	  0% {
	    -webkit-transform: translateX(-1000px) rotate(-720deg);
	            transform: translateX(-1000px) rotate(-720deg);
	    -webkit-filter: blur(50px);
	            filter: blur(50px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: translateX(0) rotate(0deg);
	            transform: translateX(0) rotate(0deg);
	    -webkit-filter: blur(0);
	            filter: blur(0);
	    opacity: 1;
	  }
	}
	}



#element-29:hover {
	-webkit-animation: element-29 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite backwards;
		        animation: element-29 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite backwards;
	}
#element-29:active {}
	@-webkit-keyframes element-29 {
	  0% {
	    -webkit-transform: scale(2);
	            transform: scale(2);
	    -webkit-filter: blur(2px);
	            filter: blur(2px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: scale(1);
	            transform: scale(1);
	    -webkit-filter: blur(0px);
	            filter: blur(0px);
	    opacity: 1;
	  }
	}
	@keyframes element-29 {
	  0% {
	    -webkit-transform: scale(2);
	            transform: scale(2);
	    -webkit-filter: blur(2px);
	            filter: blur(2px);
	    opacity: 0;
	  }
	  100% {
	    -webkit-transform: scale(1);
	            transform: scale(1);
	    -webkit-filter: blur(0px);
	            filter: blur(0px);
	    opacity: 1;
	  }
	}}



#element-30:hover {
	-webkit-animation: element-30 0.7s infinite both;
		        animation: element-30 0.7s infinite both;
	}
#element-30:active {}
			@-webkit-keyframes element-30 {
		0% {
			-webkit-transform: scale(0);
							transform: scale(0);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
			opacity: 0;
		}
		38% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
			opacity: 1;
		}
		55% {
			-webkit-transform: scale(0.7);
							transform: scale(0.7);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		72% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		81% {
			-webkit-transform: scale(0.84);
							transform: scale(0.84);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		89% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		95% {
			-webkit-transform: scale(0.95);
							transform: scale(0.95);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		}
		@keyframes element-30 {
		0% {
			-webkit-transform: scale(0);
							transform: scale(0);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
			opacity: 0;
		}
		38% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
			opacity: 1;
		}
		55% {
			-webkit-transform: scale(0.7);
							transform: scale(0.7);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		72% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		81% {
			-webkit-transform: scale(0.84);
							transform: scale(0.84);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		89% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		95% {
			-webkit-transform: scale(0.95);
							transform: scale(0.95);
			-webkit-animation-timing-function: ease-in;
							animation-timing-function: ease-in;
		}
		100% {
			-webkit-transform: scale(1);
							transform: scale(1);
			-webkit-animation-timing-function: ease-out;
							animation-timing-function: ease-out;
		}
		}

}


#element-31:hover {
	-webkit-animation: element-31 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
		        animation: element-31 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}
#element-31:active {}
			@-webkit-keyframes element-31 {
		0% {
			-webkit-transform: scaleY(1);
							transform: scaleY(1);
			-webkit-transform-origin: 0% 100%;
							transform-origin: 0% 100%;
			opacity: 1;
		}
		100% {
			-webkit-transform: scaleY(0);
							transform: scaleY(0);
			-webkit-transform-origin: 0% 100%;
							transform-origin: 0% 100%;
			opacity: 1;
		}
		}
		@keyframes element-31 {
		0% {
			-webkit-transform: scaleY(1);
							transform: scaleY(1);
			-webkit-transform-origin: 0% 100%;
							transform-origin: 0% 100%;
			opacity: 1;
		}
		100% {
			-webkit-transform: scaleY(0);
							transform: scaleY(0);
			-webkit-transform-origin: 0% 100%;
							transform-origin: 0% 100%;
			opacity: 1;
		}
		}

		}


#element-32:hover {
	-webkit-animation: element-32 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: element-32 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}
#element-32:active {}
		@-webkit-keyframes element-32 {
	  0% {
	    -webkit-transform: rotate3d(1, 1, 0, 360deg);
	            transform: rotate3d(1, 1, 0, 360deg);
	    opacity: 1;
	  }
	  100% {
	    -webkit-transform: rotate3d(1, 1, 0, 0deg);
	            transform: rotate3d(1, 1, 0, 0deg);
	    opacity: 0;
	  }
	}
	@keyframes element-32 {
	  0% {
	    -webkit-transform: rotate3d(1, 1, 0, 360deg);
	            transform: rotate3d(1, 1, 0, 360deg);
	    opacity: 1;
	  }
	  100% {
	    -webkit-transform: rotate3d(1, 1, 0, 0deg);
	            transform: rotate3d(1, 1, 0, 0deg);
	    opacity: 0;
		  }
		}


#element-33:hover {
	-webkit-animation: element-33 0.7s ease-in both;
		        animation: element-33 0.7s ease-in both;
	}
#element-33:active {}
			@-webkit-keyframes element-33 {
		0% {
			-webkit-transform: translateZ(0) rotateX(0);
							transform: translateZ(0) rotateX(0);
			opacity: 1;
		}
		54% {
			-webkit-transform: translateZ(-160px) rotateX(87deg);
							transform: translateZ(-160px) rotateX(87deg);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-800px) rotateX(90deg);
							transform: translateZ(-800px) rotateX(90deg);
			opacity: 0;
		}
		}
		@keyframes element-33 {
		0% {
			-webkit-transform: translateZ(0) rotateX(0);
							transform: translateZ(0) rotateX(0);
			opacity: 1;
		}
		54% {
			-webkit-transform: translateZ(-160px) rotateX(87deg);
							transform: translateZ(-160px) rotateX(87deg);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(-800px) rotateX(90deg);
							transform: translateZ(-800px) rotateX(90deg);
			opacity: 0;
		}
		}


#element-34:hover {
	-webkit-animation: element-34 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation: element-34 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}
#element-34:active {}
			@-webkit-keyframes element-34 {
		0% {
			-webkit-transform: translateY(0) rotateX(0) scale(1);
							transform: translateY(0) rotateX(0) scale(1);
			-webkit-transform-origin: 50% -500px;
							transform-origin: 50% -500px;
			opacity: 1;
		}
		100% {
			-webkit-transform: translateY(-600px) rotateX(20deg) scale(6);
							transform: translateY(-600px) rotateX(20deg) scale(6);
			-webkit-transform-origin: 50% 200%;
							transform-origin: 50% 200%;
			opacity: 0;
		}
		}
		@keyframes element-34 {
		0% {
			-webkit-transform: translateY(0) rotateX(0) scale(1);
							transform: translateY(0) rotateX(0) scale(1);
			-webkit-transform-origin: 50% -500px;
							transform-origin: 50% -500px;
			opacity: 1;
		}
		100% {
			-webkit-transform: translateY(-600px) rotateX(20deg) scale(6);
							transform: translateY(-600px) rotateX(20deg) scale(6);
			-webkit-transform-origin: 50% 200%;
							transform-origin: 50% 200%;
			opacity: 0;
		}
		}


#element-35:hover {
	-webkit-animation: element-35 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
		        animation: element-35 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	}
#element-35:active {}
			@-webkit-keyframes element-35 {
		  0% {
		    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
		            transform: translate(0, 0) skew(0deg, 0deg);
		    -webkit-transform-origin: 50% 50%;
		            transform-origin: 50% 50%;
		    -webkit-filter: blur(0);
		            filter: blur(0);
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
		            transform: translate(-1000px, -1000px) skew(80deg, 10deg);
		    -webkit-transform-origin: 100% 0%;
		            transform-origin: 100% 0%;
		    -webkit-filter: blur(40px);
		            filter: blur(40px);
		    opacity: 0;
		  }
		}
		@keyframes element-35 {
		  0% {
		    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
		            transform: translate(0, 0) skew(0deg, 0deg);
		    -webkit-transform-origin: 50% 50%;
		            transform-origin: 50% 50%;
		    -webkit-filter: blur(0);
		            filter: blur(0);
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: translate(-1000px, -1000px) skew(80deg, 10deg);
		            transform: translate(-1000px, -1000px) skew(80deg, 10deg);
		    -webkit-transform-origin: 100% 0%;
		            transform-origin: 100% 0%;
		    -webkit-filter: blur(40px);
		            filter: blur(40px);
		    opacity: 0;
		  }
		}


#element-36:hover {
	-webkit-animation: element-36 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation: element-36 10s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}
#element-36:active {}
		@-webkit-keyframes element-36 {
	0% {
		-webkit-filter: blur(12px);
						filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
						filter: blur(0px);
		opacity: 1;
	}
	}
	@keyframes element-36 {
	0% {
		-webkit-filter: blur(12px);
						filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
						filter: blur(0px);
		opacity: 1;
	}
	}


#element-37:hover {
	-webkit-animation: element-37 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
				animation: element-37 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	}
#element-37:active {}
			@-webkit-keyframes element-37 {
		0% {
			-webkit-transform: translateZ(0);
							transform: translateZ(0);
			-webkit-filter: blur(0.01);
							filter: blur(0.01);
		}
		100% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(300px);
							transform: translateZ(300px);
			-webkit-filter: blur(12px) opacity(0%);
							filter: blur(12px) opacity(0%);
		}
		}
		@keyframes element-37 {
		0% {
			-webkit-transform: translateZ(0);
							transform: translateZ(0);
			-webkit-filter: blur(0.01);
							filter: blur(0.01);
		}
		100% {
			letter-spacing: 1em;
			-webkit-transform: translateZ(300px);
							transform: translateZ(300px);
			-webkit-filter: blur(12px) opacity(0%);
							filter: blur(12px) opacity(0%);
		}
		}


#element-38:hover {
	-webkit-animation: element-38 0.3s infinite both;
		        animation: element-38 0.3s infinite both;
	}
#element-38:active {}
	@-webkit-keyframes element-38 {
	  0% {
	    -webkit-transform: skew(0deg 0deg);
	            transform: skew(0deg 0deg);
	  }
	  30% {
	    -webkit-transform: skew(25deg 25deg);
	            transform: skew(25deg 25deg);
	  }
	  40% {
	    -webkit-transform: skew(-15deg, -15deg);
	            transform: skew(-15deg, -15deg);
	  }
	  50% {
	    -webkit-transform: skew(15deg, 15deg);
	            transform: skew(15deg, 15deg);
	  }
	  65% {
	    -webkit-transform: skew(-5deg, -5deg);
	            transform: skew(-5deg, -5deg);
	  }
	  75% {
	    -webkit-transform: skew(5deg, 5deg);
	            transform: skew(5deg, 5deg);
	  }
	  100% {
	    -webkit-transform: skew(0deg 0deg);
	            transform: skew(0deg 0deg);
	  }
	}
	@keyframes element-38 {
	  0% {
	    -webkit-transform: skew(0deg 0deg);
	            transform: skew(0deg 0deg);
	  }
	  30% {
	    -webkit-transform: skew(25deg 25deg);
	            transform: skew(25deg 25deg);
	  }
	  40% {
	    -webkit-transform: skew(-15deg, -15deg);
	            transform: skew(-15deg, -15deg);
	  }
	  50% {
	    -webkit-transform: skew(15deg, 15deg);
	            transform: skew(15deg, 15deg);
	  }
	  65% {
	    -webkit-transform: skew(-5deg, -5deg);
	            transform: skew(-5deg, -5deg);
	  }
	  75% {
	    -webkit-transform: skew(5deg, 5deg);
	            transform: skew(5deg, 5deg);
	  }
	  100% {
	    -webkit-transform: skew(0deg 0deg);
	            transform: skew(0deg 0deg);
	  }
	}


#element-39:hover {
	-webkit-animation: element-39 0.1s infinite both;
		        animation: element-39 0.1s infinite both;
	}
#element-39:active {}
			@-webkit-keyframes element-39 {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
							transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
							transform: scale3d(0.75, 1.25, 1);
		}
		40% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
							transform: scale3d(1.25, 0.75, 1);
		}
		50% {
			-webkit-transform: scale3d(0.85, 1.15, 1);
							transform: scale3d(0.85, 1.15, 1);
		}
		65% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
							transform: scale3d(1.05, 0.95, 1);
		}
		75% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
							transform: scale3d(0.95, 1.05, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
							transform: scale3d(1, 1, 1);
		}
		}
		@keyframes element-39 {
		0% {
			-webkit-transform: scale3d(1, 1, 1);
							transform: scale3d(1, 1, 1);
		}
		30% {
			-webkit-transform: scale3d(0.75, 1.25, 1);
							transform: scale3d(0.75, 1.25, 1);
		}
		40% {
			-webkit-transform: scale3d(1.25, 0.75, 1);
							transform: scale3d(1.25, 0.75, 1);
		}
		50% {
			-webkit-transform: scale3d(0.85, 1.15, 1);
							transform: scale3d(0.85, 1.15, 1);
		}
		65% {
			-webkit-transform: scale3d(1.05, 0.95, 1);
							transform: scale3d(1.05, 0.95, 1);
		}
		75% {
			-webkit-transform: scale3d(0.95, 1.05, 1);
							transform: scale3d(0.95, 1.05, 1);
		}
		100% {
			-webkit-transform: scale3d(1, 1, 1);
							transform: scale3d(1, 1, 1);
		}
		}


#element-40:hover {
	-webkit-animation: element-40 0.2s steps(7, end) infinite backwards;
	        animation: element-40 0.2s steps(7, end) infinite backwards;
	}
#element-40:active {}
			@-webkit-keyframes element-40 {
		  0% {
		    -webkit-transform: scale(1);
		            transform: scale(1);
		    opacity: 1;
		  }
		  100% {
		    -webkit-transform: scale(0);
		            transform: scale(0);
		    opacity: 2;
		  }
		}
		@keyframes element-40 {
		  0% {
		    -webkit-transform: scale(1);
		            transform: scale(1);
		    opacity: 3;
		  }
		  100% {
		    -webkit-transform: scale(0);
		            transform: scale(0);
		    opacity: 4;
		  }
		}

		}


#element-41:hover {
	-webkit-animation: element-41 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
		        animation: element-41 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	}
#element-41:active {}
			@-webkit-keyframes element-41 {
		0% {
			-webkit-transform: rotateX(360deg);
							transform: rotateX(360deg);
			opacity: 1;
		}
		100% {
			-webkit-transform: rotateX(0deg);
							transform: rotateX(0deg);
			opacity: 0;
		}
		}
		@keyframes element-41 {
		0% {
			-webkit-transform: rotateX(360deg);
							transform: rotateX(360deg);
			opacity: 1;
		}
		100% {
			-webkit-transform: rotateX(0deg);
							transform: rotateX(0deg);
			opacity: 0;
		}
		}


#element-42:hover {
	-webkit-animation: element-42 0.9s ease-in both;
		        animation: element-42 0.9s ease-in both;
	}
#element-42:active {}
			@-webkit-keyframes element-42 {
		0% {
			-webkit-transform: translateX(0) rotateY(0) scale(1);
							transform: translateX(0) rotateY(0) scale(1);
			-webkit-transform-origin: 2000px 50%;
							transform-origin: 2000px 50%;
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
							transform: translateX(-1000px) rotateY(30deg) scale(0);
			-webkit-transform-origin: -100% 50%;
							transform-origin: -100% 50%;
			opacity: 1;
		}
		}
		@keyframes element-42 {
		0% {
			-webkit-transform: translateX(0) rotateY(0) scale(1);
							transform: translateX(0) rotateY(0) scale(1);
			-webkit-transform-origin: 2000px 50%;
							transform-origin: 2000px 50%;
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(-1000px) rotateY(30deg) scale(0);
							transform: translateX(-1000px) rotateY(30deg) scale(0);
			-webkit-transform-origin: -100% 50%;
							transform-origin: -100% 50%;
			opacity: 1;
		}
		}


#element-43:hover {
	-webkit-animation: element-43 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
				animation: element-43 0.9s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	}
#element-43:active {}
			@-webkit-keyframes element-43 {
		0% {
			-webkit-transform: translateZ(1);
							transform: translateZ(1);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(600px);
							transform: translateZ(600px);
			opacity: 0;
		}
		}
		@keyframes element-43 {
		0% {
			-webkit-transform: translateZ(1);
							transform: translateZ(1);
			opacity: 1;
		}
		100% {
			-webkit-transform: translateZ(600px);
							transform: translateZ(600px);
			opacity: 0;
		}
		}


#element-44:hover {
	-webkit-animation: element-44 0.9s infinite both;
		        animation: element-44 0.9s infinite both;
	}
#element-44:active {}
	@-webkit-keyframes element-44 {
	  0% {
	    opacity: 1;
	  }
	  50% {
	    opacity: 0.2;
	  }
	  100% {
	    opacity: 1;
	  }
	}
	@keyframes element-44 {
	  0% {
	    opacity: 1;
	  }
	  50% {
	    opacity: 0.2;
	  }
	  100% {
	    opacity: 1;
	  }
	}


#element-45:hover {
	-webkit-animation: element-45 0.9s infinite both;
		        animation: element-45 0.9s infinite both;
	}
#element-45:active {}
		@-webkit-keyframes element-45 {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	  30% {
	    -webkit-transform: scale3d(1.25, 0.75, 1);
	            transform: scale3d(1.25, 0.75, 1);
	  }
	  40% {
	    -webkit-transform: scale3d(0.75, 1.25, 1);
	            transform: scale3d(0.75, 1.25, 1);
	  }
	  50% {
	    -webkit-transform: scale3d(1.15, 0.85, 1);
	            transform: scale3d(1.15, 0.85, 1);
	  }
	  65% {
	    -webkit-transform: scale3d(0.95, 1.05, 1);
	            transform: scale3d(0.95, 1.05, 1);
	  }
	  75% {
	    -webkit-transform: scale3d(1.05, 0.95, 1);
	            transform: scale3d(1.05, 0.95, 1);
	  }
	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	}
	@keyframes element-45 {
	  0% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
	  30% {
	    -webkit-transform: scale3d(1.25, 0.75, 1);
	            transform: scale3d(1.25, 0.75, 1);
	  }
	  40% {
	    -webkit-transform: scale3d(0.75, 1.25, 1);
	            transform: scale3d(0.75, 1.25, 1);
	  }
	  50% {
	    -webkit-transform: scale3d(1.15, 0.85, 1);
	            transform: scale3d(1.15, 0.85, 1);
	  }
	  65% {
	    -webkit-transform: scale3d(0.95, 1.05, 1);
	            transform: scale3d(0.95, 1.05, 1);
	  }
	  75% {
	    -webkit-transform: scale3d(1.05, 0.95, 1);
	            transform: scale3d(1.05, 0.95, 1);
	  }
	  100% {
	    -webkit-transform: scale3d(1, 1, 1);
	            transform: scale3d(1, 1, 1);
	  }
		}


#element-46:hover {
	-webkit-animation: element-46 0.3s infinite both;
		        animation: element-46 0.3s infinite both;
	}
#element-46:active {}
	@-webkit-keyframes element-46 {
	  0%,
	  100% {
	    -webkit-transform: translateX(0%);
	            transform: translateX(0%);
	    -webkit-transform-origin: 50% 50%;
	            transform-origin: 50% 50%;
	  }
	  15% {
	    -webkit-transform: translateX(-30px) rotate(6deg);
	            transform: translateX(-30px) rotate(6deg);
	  }
	  30% {
	    -webkit-transform: translateX(15px) rotate(-6deg);
	            transform: translateX(15px) rotate(-6deg);
	  }
	  45% {
	    -webkit-transform: translateX(-15px) rotate(3.6deg);
	            transform: translateX(-15px) rotate(3.6deg);
	  }
	  60% {
	    -webkit-transform: translateX(9px) rotate(-2.4deg);
	            transform: translateX(9px) rotate(-2.4deg);
	  }
	  75% {
	    -webkit-transform: translateX(-6px) rotate(1.2deg);
	            transform: translateX(-6px) rotate(1.2deg);
	  }
	}
	@keyframes element-46 {
	  0%,
	  100% {
	    -webkit-transform: translateX(0%);
	            transform: translateX(0%);
	    -webkit-transform-origin: 50% 50%;
	            transform-origin: 50% 50%;
	  }
	  15% {
	    -webkit-transform: translateX(-30px) rotate(6deg);
	            transform: translateX(-30px) rotate(6deg);
	  }
	  30% {
	    -webkit-transform: translateX(15px) rotate(-6deg);
	            transform: translateX(15px) rotate(-6deg);
	  }
	  45% {
	    -webkit-transform: translateX(-15px) rotate(3.6deg);
	            transform: translateX(-15px) rotate(3.6deg);
	  }
	  60% {
	    -webkit-transform: translateX(9px) rotate(-2.4deg);
	            transform: translateX(9px) rotate(-2.4deg);
	  }
	  75% {
	    -webkit-transform: translateX(-6px) rotate(1.2deg);
	            transform: translateX(-6px) rotate(1.2deg);
	  }
	}


#element-47:hover {
	-webkit-animation: element-47 5s ease-out both;
		        animation: element-47 5s ease-out both;
		-webkit-animation: element-47 5s linear infinite alternate both;
						 animation: element-47 5s linear infinite alternate both;
	}
#element-47:active {}
	@-webkit-keyframes element-47 {
	  0% {
	    -webkit-transform: scale(1) translateY(0);
	            transform: scale(1) translateY(0);
	    -webkit-transform-origin: 50% 16%;
	            transform-origin: 50% 16%;
	  }
	  100% {
	    -webkit-transform: scale(1.25) translateY(-15px);
	            transform: scale(1.25) translateY(-15px);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }
	}
	@keyframes element-47 {
	  0% {
	    -webkit-transform: scale(1) translateY(0);
	            transform: scale(1) translateY(0);
	    -webkit-transform-origin: 50% 16%;
	            transform-origin: 50% 16%;
	  }
	  100% {
	    -webkit-transform: scale(1.25) translateY(-15px);
	            transform: scale(1.25) translateY(-15px);
	    -webkit-transform-origin: top;
	            transform-origin: top;
	  }}

			@-webkit-keyframes color-change-5x {
	  0% {
	    background: #19dcea;
	  }
	  25% {
	    background: #b22cff;
	  }
	  50% {
	    background: #ea2222;
	  }
	  75% {
	    background: #f5be10;
	  }
	  100% {
	    background: #3bd80d;
	  }
	}
	@keyframes color-change-5x {
	  0% {
	    background: #19dcea;
	  }
	  25% {
	    background: #b22cff;
	  }
	  50% {
	    background: #ea2222;
	  }
	  75% {
	    background: #f5be10;
	  }
	  100% {
	    background: #3bd80d;
	  }
	}
	}


#element-48:hover {
	-webkit-animation: element-48 0.86s steps(9, end) both;
				animation: element-48 0.86s steps(9, end) both;
	}
#element-48:active {}
	@-webkit-keyframes element-48 {
	  0% {
	    -webkit-transform: translateZ(0);
	            transform: translateZ(0);
	  }
	  100% {
	    -webkit-transform: translateZ(-400px);
	            transform: translateZ(-400px);
	  }
	}
	@keyframes element-48 {
	  0% {
	    -webkit-transform: translateZ(0);
	            transform: translateZ(0);
	  }
	  100% {
	    -webkit-transform: translateZ(-400px);
	            transform: translateZ(-400px);
	  }
	}



#element-49:hover {
	-webkit-animation: element-49 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
		        animation: element-49 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	}
#element-49:active {}
	@-webkit-keyframes element-49 {
	  0% {
	    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
	            transform: translateY(0) translateZ(0) rotateX(0deg);
	    -webkit-transform-origin: bottom center;
	            transform-origin: bottom center;
	  }
	  100% {
	    -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	            transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	    -webkit-transform-origin: bottom center;
	            transform-origin: bottom center;
	  }
	}
	@keyframes element-49 {
	  0% {
	    -webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
	            transform: translateY(0) translateZ(0) rotateX(0deg);
	    -webkit-transform-origin: bottom center;
	            transform-origin: bottom center;
	  }
	  100% {
	    -webkit-transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	            transform: translateY(150px) translateZ(-230px) rotateX(90deg);
	    -webkit-transform-origin: bottom center;
	            transform-origin: bottom center;
	  }
	}


#element-50:hover {
	-webkit-animation: element-50 0.98s ease-out infinite both;
		        animation: element-50 0.98s ease-out infinite both;
	}
#element-50:active {}
			@-webkit-keyframes element-50 {
		0% {
			-webkit-transform: rotate(540deg) scale(5);
							transform: rotate(540deg) scale(5);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 0;
		}
		100% {
			-webkit-transform: rotate(0) scale(1);
							transform: rotate(0) scale(1);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		}
		@keyframes element-50 {
		0% {
			-webkit-transform: rotate(540deg) scale(5);
							transform: rotate(540deg) scale(5);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 0;
		}
		100% {
			-webkit-transform: rotate(0) scale(1);
							transform: rotate(0) scale(1);
			-webkit-transform-origin: 100% 100%;
							transform-origin: 100% 100%;
			opacity: 1;
		}
		}
