* {
	padding: 0px;
	margin: 0px;
}

body {
background-color: #ffe6e6;
height: 100%;
width: 100%;
}


.centerStuffInHere {
	min-height: 70vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 150px;
	padding-top: 55px;
}

.centerStuffInHere2 {
	min-height: 70vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 150px;
	padding-top: 200px;
}

.centerStuffInHere3 {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 80px;
}


.centerStuffInHere4 {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 60px;
}

.centerStuffInHere5 {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 95px;
}

.centerStuffInHereNice {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 95px;
	padding-top: 55px;
}

.centerStuffInHereA {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 95px;
	padding-top: -50px;
}

.centerStuffInHereDay {
	min-height: 50vh;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-left: 95px;
	padding-top: 40px;
}

.page1 {
	position: relative;
	padding-top: 169px;
	padding-left: 148px;
	align-items: center;
	justify-items: center;
	height: 600px;
}

.page2 {
	position: relative;
	padding-top: 100px;
	height: 1200px;
	width: auto;
}

.page3 {
	position: relative;
	height: 700px;
	padding-top: 300px;
	padding-left: 0px;
}

.letter {
	position: relative;
	width:180px;
	height: 300px;
	float:left;
	margin-right: -25px;
}

.letter.letterf {
	width:150px;
}


.letter.letteri {
	width:130px;
}

.letter.letter7 {
	width:110px;
}

.letter.letterl {
	width:160px;
}

.letter.letterl {
	width:160px;
}

.letter.lettert {
	width:150px;
}

.letter.letterq {
	width:180px;
}

.letter.letters {
	width:200px;
}

.letter.letterm {
	width:200px;
}

.letter.lettern {
	width:200px;
}

.letter.letterv {
	width:160px;
}

.letter.letterx {
	width:180px;
}

.letter.letter1 {
	width:120px;
}



.letter:hover .bar .circle {
	border-width:14px;
}
.letter:hover .bar .circle2 {
	border-width:14px;
}
.letter:hover .bar .line {
	border-width:14.8px;

}
.letter:hover .bar .line2 {
	border-width:14.8px;
}

.letter:hover .longLine .circle {
	border-width:14px;
}
.letter:hover .longLine .circle2 {
	border-width:14px;
}
.letter:hover .longLine .line {
	border-width:14.8px;
}
.letter:hover .longLine .line2 {
	border-width:14.8px;
}

.bar {
  position: absolute;
	/* left: 65px; */
}

.bar.vertical {
	transform: rotate(90deg);
}
.bar.vertical.top {
	top:0;
}
.bar.vertical.bottom {
	top:55px
}
.bar.vertical.left {
	left:31px
}
.bar.vertical.right {
	left:86px
}

.circle {
  width: 31px;
  height: 31px;
  border: 3px solid blue;
  border-radius: 100%;
  position:absolute;
	box-sizing:border-box;
  /* margin-top: 90px;
  margin-left: 250px; */
	transition: border-width 250ms ease;
}

.line {
  width: 52px;
  /* height: 47px; */
  border-bottom: 3px solid blue;
  position:absolute;
  left:17px;
  /* margin-top: -113px;
  margin-left: 288px; */
	transition: border-width 250ms ease;
}

.longLine {
  position: absolute;
	border-bottom: 3px solid blue;
	transition: border-width 250ms ease;
}

.longLine .line {
	width:70px;

}
.longLine .line2 {
	width:70px;
}

.longLine .circle {
	left:70px;
}

.longLine .circle2 {
	left:70px;
}

.circle2 {
  width: 31px;
  height: 31px;
  left:55px;
  border: 3px solid blue;
  border-radius: 100%;
	box-sizing:border-box;
  position:absolute;
  /* margin-top: -8px;
  margin-left: 380px; */
	transition: border-width 250ms ease;
}

.line2 {
  width: 52px;
  /* height: 47px; */
  border-bottom: 3px solid blue;
  position:absolute;
  left: 17px;
  /* top: 28px; */
	bottom:-31px;
  /* margin-top: -55px;
  margin-left: 288px; */
	transition: border-width 250ms ease;
}

.letter.flip {
 transform: scaleY(-1);
 }
.letterm.flip {
	transform-origin: 0 23.5%;
}
