* {
	padding: 0px;
	margin: 0px;
}

body {
background-color: white;
height: 100%;
width: 100%;
}

.letter {

  position:relative;
}

.bar {
  position: absolute;
	left: 65px;

}

.circle {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 100%;
  position:absolute;
  /* margin-top: 90px;
  margin-left: 250px; */
}

.line {
  width: 121px;
  /* height: 47px; */
  border-bottom: 3px solid black;
  position:absolute;
  left:30px;
  /* margin-top: -113px;
  margin-left: 288px; */
}

.circle2 {
  width: 50px;
  height: 50px;
  left:122px;
  border: 3px solid black;
  border-radius: 100%;
  position:absolute;
  /* margin-top: -8px;
  margin-left: 380px; */
}

.line2 {
  width: 121px;
  /* height: 47px; */
  border-bottom: 3px solid black;
  position:absolute;
  left: 30px;
    top: 53px;
  /* margin-top: -55px;
  margin-left: 288px; */
}
