* {
	padding: 0px;
	margin: 0px;
}

body {
background-color: white;
height: 100%;
width: 100%;
}

.centerStuffInHere {
	min-height: 70vh;
	display: grid;
	align-items: center;
	justify-items: center;
}

.letter {
	position: relative;
	width: 100px;
	height: 100px;
	float:left;
	margin-right: 5px;
}

.bar {
  position: absolute;
	/* left: 65px; */

}

.bar.vertical {
	transform: rotate(90deg);
}
.bar.vertical.top {
	top:0;
}
.bar.vertical.bottom {
	top:55px
}
.bar.vertical.left {
	left:31px
}
.bar.vertical.right {
	left:86px
}

.circle {
  width: 25px;
  height: 25px;
  border: 3px solid black;
  border-radius: 100%;
  position:absolute;
  /* margin-top: 90px;
  margin-left: 250px; */
}

.line {
  width: 52px;
  /* height: 47px; */
  border-bottom: 3px solid black;
  position:absolute;
  left:17px;
  /* margin-top: -113px;
  margin-left: 288px; */
}

.circle2 {
  width: 25px;
  height: 25px;
  left:55px;
  border: 3px solid black;
  border-radius: 100%;
  position:absolute;
  /* margin-top: -8px;
  margin-left: 380px; */
}

.line2 {
  width: 52px;
  /* height: 47px; */
  border-bottom: 3px solid black;
  position:absolute;
  left: 17px;
  top: 28px;
  /* margin-top: -55px;
  margin-left: 288px; */
}
